@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;
}

.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ancora_menu{
    color: #181E27;
}

.ancora_menu:hover{
    color:#64aec2;
}
.menu{
    display: flex;
    gap: 1.25rem;
    color:#181E27;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.cabecalho_img{
    width: 6.125rem;
    height: 4.25rem;
}

.rodape{
    color: #f1e1b2;
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3b1105;
    height: 2.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 0.75rem;
}
#link_insta{
    color: #f1e1b2;
}
#botao_topo{
    color: #f1e1b2;
    background-color: #3b1105;
    border-radius: 60%;
    padding: 0.6rem;
    font-size: 1rem;
    position: fixed;
    right: 2rem;
    bottom: 3rem;
    box-shadow: 0rem 0rem 0.4rem #181E27;

}

.conteudo_titulo{
    background-color: #3b1105;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.titulo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 3rem;
    color: #f1e1b2;
}
.navegacao_titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.ancora{
    color:#3b1105;
    background-color: #f1e1b2;
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.ancora:hover{
    font-size: 1.1rem;
    color: #181E27;
    cursor: pointer;
}

.ancoras{
    display: flex;
    gap: 2rem;
}

.imagem_titulo{
    width: 30%;
    height: 30%;
}

.espacamento{
    padding: 18px;
}

.img_avatar{
    width: 10rem;
    height: 10rem;
}

.neabindica{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
.imagem_neabindica{
    width: 50%;
    height: 50%;
}
.subtitulo1{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
}
.subtitulo2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.conteudo_texto{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

#link_insta2{
    color: #f1e1b2;
    background-color: #3b1105;
    padding: 0.7rem;
    border-radius: 1rem;
    font-size: 1rem;
}

#link_insta2:hover{
    font-size: 1.1rem;
}
.integrantes{
    display: flex;
    justify-content: space-around;
    padding-left: 5rem;
    padding-right: 5rem;
    gap: 1rem;
    
}
.integrante{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.1rem solid #808080;
    border-radius: 1rem;
    padding: 0.5rem;
    width: 15rem;
    height: 17rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

